@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Roboto", sans-serif;
  --ff-heading: "Playfair Display", serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-primary-200: hsla(169, 70%, 95%, 1);
  --clr-primary-300: hsla(169, 100%, 39%, 1);
  --clr-primary-400: hsla(169, 100%, 26%, 1);
  --clr-primary-500: hsla(169, 100%, 16%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
  display: inline-block;
}

section,
.section {
  padding: min(10vh, 10em) 0;
}



/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-primary-500);
}

.article-title {
  font-size: var(--fs-700);
}

.section-title {
  font-size: var(--fs-600);
}


/* //////////////////////
  Header
  /////////////////////// */

.page-header {
  padding: 2em 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-primary-400);
  text-decoration: underline;
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  --logo-color: currentColor;
  padding: 2em 0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  text-align: center;
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-primary-200);
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 6rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

  .main-article {
    margin-bottom: 3rem;
  }

  .main-article__figure img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
  }

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.snippet__title {
  grid-area: title;
}
.snippet__meta {
  grid-area: meta;
  color: var(--clr-neutral-300);
}

.snippet__meta span {
  color: var(--clr-neutral-900);
}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--clr-primary-500);
} 

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}
.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500); 
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}


/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: #f1f1f1;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Code Block Styling */
pre {
  background-color: #f5f5f5;
  padding: 15px;
  overflow-x: auto;
  border-left: 4px solid #ccc;
}

code {
  background-color: #f5f5f5;
  padding: 2px 6px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px;
}

/* Header Styling */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

/* Styling for Blockquote */
blockquote {
  margin: 0;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #ccc;
  font-style: italic;
}

/* Link Styling */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}





/* my styles */
.property-listing {
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heading-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.property-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.property-card {
  width: 340px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 38.9px -20px rgba(0, 0, 0, 0.25);
}

.property-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.property-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.property-title {
  font-size: 18px;
  color: #26921E;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 18px;
}

.property-location,
.property-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}

.property-info {
  justify-content: space-between;
}

.explore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.explore-now {
  padding: 16px 20px;
  background-color: #F97316;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
}

.heading, .explore-btn, .property-title {
  font-family: "Saira Condensed"
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.heading {
  color: black;
  font-size: 16px; /* equivalent to 'text-mdbase' in Tailwind */
  font-weight: bold;
  text-transform: uppercase;
  line-height: 27px;
}

@media (min-width: 768px) {
  .heading {
    font-size: 20px; /* equivalent to 'md:text-xl' in Tailwind */
  }
}

.see-all {
  color: #d15a03;
  font-size: 16px; /* equivalent to 'text-base' in Tailwind */
  font-weight: normal;
}

@media (min-width: 768px) {
  .see-all {
    font-size: 20px; /* equivalent to 'md:text-xl' in Tailwind */
  }
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  max-width: 1200px;
  gap: 30px;
  margin: 0 auto;
}

.image {
  width: 100%; /* Adjust the width according to your design */
}

.content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 10px;
}

.headl {
  color: #d15a03; /* equivalent to 'text-orange-600' */
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 22px;
  font-family: "Saira Condensed";
}

.description {
  font-size: 14px;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .content {
    padding-top: 0;
    gap: 30px;
  }

  .headl {
    font-size: 35px;
    line-height: 40px;
  }

  .description {
    font-size: 16px;
  }
}


/* her section styling */
.hero-section {
  position: relative;
}

.hero-content {
  position: relative;
  width: 100%;
  z-index: 8;
  padding-top: 180px;
  padding-bottom: 97px;
  background-color: rgba(18, 85, 5, 0.7); /* equivalent to bg-opacity-70 */
  background-image: url('/assets/property.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

.headline {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: "Saira Condensed";
  line-height: 25px;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: flex-start;
}

.location-input, .property-select {
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #125505;
}

.property-select {
  width: 100%;
}

.search-button {
  padding: 16px;
  background-color: #d15a03;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.desktop-search {
  display: none;
}

.mobile-search {
  width: 100%;
}

@media (min-width: 768px) {
  .hero-content {
    padding-top: 240px;
    padding-bottom: 194px;
  }

  .headline {
    font-size: 55px;
    line-height: 98px;
    padding-bottom: 30px;
  }

  .search-form {
    flex-direction: row;
  }

  .location-input {
    width: 680px;
  }

  .property-select {
    width: 260px;
  }

  .desktop-search {
    display: flex;
  }

  .mobile-search {
    display: none;
  }
}


/* prop page styling */

.prop-hero {
  position: relative;
}

.prop-title {
  position: absolute;
  bottom: 50px;
  font-family: "Saira Condensed";
  left: 30px;
  text-shadow: 5px 5px 10px black;
}



/* short info for youtube and other information about the land */
.short-info {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.video-container {
  width: 100%;
  max-width: 1000px;
  height: 204px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .video-container {
    height: 450px;
  }
}
